<!--<div class="main">-->
<!--  <div class="main__timer">-->
<!--    <div class="main__timer__h">-->
<!--      <div class="main__timer__h-time"> 00 <span>H</span> </div>-->
<!--      <div class="main__timer__h-btn">-->
<!--        <button> + </button>-->
<!--        <button> - </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="main__timer__m">-->
<!--      <div class="main__timer__m-time"> 00 <span>M</span> </div>-->
<!--      <div class="main__timer__m-btn">-->
<!--        <button> + </button>-->
<!--        <button> - </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="main__timer__s">-->
<!--      <div class="main__timer__s-time"> 00 <span>S</span> </div>-->
<!--      <div class="main__timer__s-btn">-->
<!--        <button> + </button>-->
<!--        <button> - </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="main__butt-act">-->
<!--    <button type="button">&#9658;</button>-->
<!--    <button type="button">&#9724;</button>-->
<!--    <button type="button">&#8635;</button>-->
<!--  </div>-->
<!--</div>-->

